---
const today = new Date();
---

<footer>
    <p>&copy; {today.getFullYear()} Jim Jeffers. All rights reserved.<br/>Written in <a href="https://www.clarus.page">Clarus</a> and delivered <a href="https://astro.build">Astro</a>.</p>
</footer>
<style>
	footer {
		padding: 2rem 1.5rem;
		max-width: 40rem;
		margin: 0;
		color: rgb(var(--color-text-secondary));
		font-size: 0.875rem;
	}
	footer p {
		margin: 0;
	}
	@media (min-width: 768px) {
		footer {
			padding: 2rem 3rem;
		}
	}
	@media (min-width: 1200px) {
		footer {
			padding: 3rem 6rem;
		}
	}
</style>
